.just-launch{
    width:10%;
    height:auto;
    position: absolute;
    left:5rem;
    top:5rem;
   // display: inline-block;
    // position: relative;
    @include respond (phone500){
        position: absolute;
        left:4rem;
        top:2rem;
      }
      @include respond (phonesmall){
        position: absolute;
        left:2rem;
        top:3rem;
      }
      
  }
  .header-fortune-logo{
    width: 20%;
    height: auto;
    @include respond (phone500){
  
  width: 33%;
  }
  @include respond(phonesmaller){//350
     
width: 35%;
      }
      @include respond(phone300){//300
     
        width: 37%;
          }
          @include respond(phone260){//300

            width: 45%;
              }
}
.white-logo{
  width: 14%;
  height: auto;
margin-left: 3rem;
margin-top:3rem;
  @include respond (tab800){//800
        width: 20%;
  
    }
    @include respond (phonelarge){//750
        width:22%;
    }
    @include respond (phone650){//650
        width: 25%;
    }
    @include respond (phone){//600
    
        width: 25%;

    }
    @include respond (phone500){

        width: 27%;
    }
    @include respond(phonesmall){//400
     
        width: 27%;
          }
          @include respond(phonesmaller){//350
     
            width: 25%;
              }
       
}

.social-links{
  
  @include respond (phone500){
margin-right: 1.5rem!important;
}
@include respond(phonesmall){//400
 
    margin-right: 1.3rem!important;
      }
      @include respond(phonesmaller){//350
 
        margin-right: 1.2rem!important;
          }
          @include respond(phone300){//300
 
            margin-right: 1.1rem!important;
              }
              @include respond(phone260){
 
                margin-right: 1rem!important;
                  }
                  
& li{
  @include respond (phone500){
    margin-right: 2.5rem!important;
    }
    @include respond (phonesmall){
      margin-right: 2.2rem!important;
      
      }
      @include respond(phonesmaller){//350
 
        margin-right: 2rem!important;
          }
          @include respond(phone300){//300
 
            margin-right: 1.8rem!important;
              }
              @include respond(phone260){
 
                margin-right: 1.6rem!important;
                  }
                  
  
}
& li a:link, .social-links li a:visited{
  @include respond (phonesmall){
  
    font-size: 240%!important;
    }
    @include respond(phonesmaller){//350
 
      font-size: 235%!important;
        }
        @include respond(phone300){//300

          font-size: 233%!important;
            }
            @include respond(phone260){

              font-size: 227%!important;
                }
                
}
}