// color
$secondary-color:#bc9f43;
$secondary-color-dark:#967f36;
$secondary-color-dark-2:#645524;
$secondary-color-light:#c5ac5c;


$primary-color:#110f4d;
$primary-color-light-1:#2a25bf;
$primary-color-dark-1:#0b0931;
$orange:#ff7730;

$color-grey-dark: #777777;
$color-grey-dark-2:rgb(121, 112, 112);
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;
$color-white:#fff;

$color-black:#000;
//FONT
$default-font-size:1.6rem;
//GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;

$gutter-vertical-small:6rem;
