.u-center-text {
    text-align: center !important;
}

.u-center {
    margin: 0 auto !important;
}

.u-margin-bottom-huge {
    margin-bottom: 10rem !important;
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}
.u-margin-bottom-smaller {
    margin-bottom: 1rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
}

.u-margin-top-big {
    margin-top: 8rem !important;
}

.u-margin-top-medium {
    margin-top: 4rem !important;
}

.u-margin-top-small {
    margin-top: 2rem !important;
}

.u-margin-top-smaller {
    margin-top: 1rem !important;
}

.u-margin-right-small {
    margin-right: 1rem !important;
}
.u-margin-left-small {
    margin-left: 2rem !important;
}
.u-margin-left-medium {
    margin-left: 4rem !important;
}
.u-margin-left-big {
    margin-left: 6rem !important;
}
.u-margin-left-huge {
    margin-left: 8rem !important;
}
.u-margin-left-xl {
    margin-left: 35rem !important;
}
.u-margin-left-xxl {
    margin-left: 62rem !important;
}


.u-margin-left-xxxl {
    margin-left: 80rem !important;
}

.u-responsive {
    width: 100%;
    max-height: 105rem;
    //  width: auto;
    object-fit: cover;
    position: relative;
}


.u-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //font-size: 18px;
}



.bold {
    font-weight: bold;
}
.u-text-small{
    font-size: 2rem;
    @include respond (tab800){//800
font-size: 1.7rem;
  
    }
    @include respond (phone650){//650
    font-size: 1.6rem;
    }
    @include respond (phone){//600
    
    font-size: 1.5rem;

    }
    @include respond (phone500){//600
    
        font-size: 1.4rem;
    
        }
        @include respond (phonesmall){//400
    
            font-size: 1.3rem;
        
            }
            @include respond(phonesmaller){//350
     
            font-size: 1.2rem;
                  }
                  @include respond(phone300){//300
         
                font-size: 1.25rem;
                      }
                      @include respond(phone260){
         
                    font-size: 1.3rem;
                          }
}
.u-text-medium{
    font-size: 3rem;
}
.u-text-mediumish{
    font-size: 2.5rem;
}
.u-text-big{
    font-size: 4rem;
}
.u-text-huge{
    font-size: 6rem;
}
.u-text-hugest{
    font-size: 8rem;
}
.u-text-smaller{
    font-size: 1.7rem;
}
.float-left{
    float: left;
}